
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
    --dark-blue: #02182B;
    --red: #D7263D;
    --gray-black: rgb(31, 29, 29);
    --videogame-green: rgb(52, 194, 59);
    --alpha-white: rgba(241, 234, 234, 0.199);
}

.gameDisplay {
    border: solid 1px white;
}

.gui {
    /* border: solid 1px var(--videogame-green); */
    height: 10rem;
    width: 96%;
    margin: 3rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.fullProgress {   
    border: solid 2px var(--videogame-green);
    height: 30px;
    border-radius: 25px;   
}

.progress {
    width: 0%;
    height: 100%;
    background-color: var(--videogame-green);
    border-radius: 15px;
}

.timerZone, .pointZone, .fullProgress {
    margin-top: 5rem;
    width: 15%;
    text-align: center;
}

.timer, .points {
    /* border: solid 1px white; */
    color: white;
    font-family: 'VT323', monospace;
    font-size: 7rem;
    padding: 0;
    margin: 5%;
}

p {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 2rem;
}

.questions {
    /* border: solid 1px white;  */
    margin: 10rem 10rem;
      
}

.question-box {
    display: flex;
    flex-direction: row;
    font-size: 6rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: solid 3px white;
    width: 70%;
    min-width: 7rem;
    padding-left: 2rem;
}


.question-box:hover {
    box-shadow: 0 0.4rem 1.4rem 0 var(--videogame-green);
    background-color: var(--alpha-white)
}

